.shop__form{
    background: rgb(255, 255, 255);
    width: 555px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 7px;
    margin-top: 30px;
    overflow: hidden;
    }
    .shop__search__btn{
    width: 46px;
    height: 46px;
    border-radius: 8px;
    background: rgb(156, 77, 244);
    }
    .shop__search__btn i{
      font-size: 20px;
        color: white;
    }
    .shop__input{
        width: 100%;
        border: none;
        outline: none;
    
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0%;
        text-align: left; 
        padding: 22px 0px 22px 16px;
    
    }