.standard__list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.standard__item{
    .active{
        .button{
            color: white;
            background-color: orangered;
        }
    }
}
.class__number{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: orangered;
    color: white;
}