.standard__list{
    .active{
        background-color: orangered;
        padding: 5px 10px;
        border-radius: 5px;
        color: white;
        border: none;
    }
    .btn{
        color: blue;
    }
}