.shop__card {
  width: 270px;
  border-radius: 10px;
  height: 345px;

  .card__img__box {
    width: 100%;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 240px;

      padding: 20px 20px;
    }
    :hover {
      cursor: pointer;
    }
  }
  h1 {
    margin: 15px 0px 10px 0px;
    color: rgb(10, 3, 60);
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
  }
  .shop__card__ul {
    display: flex;
    justify-content: space-between;
  }
  .shop__card__ul__li {
    font-size: 18px;
    color: rgb(255, 102, 82);

    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
  }
}
